<!DOCTYPE html>
<html lang="en" data-bs-theme="light"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="index">
<head>
<meta charset="UTF-8">
<title>Orders's listt</title>
</head>
<body>
    <div style="width: 95%;"	class="container d-flex flex-column gap-5"	layout:fragment="content">
    
    <!-- start hearder commun with all pages -->
    	<header class="row border-bottom p-1" >
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#"> <i class="bi bi-house-fill"></i> </a></li>
					<li class="breadcrumb-item active" aria-current="page">Orders list</li>
				</ol>
			</nav>
    	</header>
    	
     <!-- end hearder commun with all pages -->
    
    
    
    <!-- start content -->
    <section class=" container shadow-sm bg-white p-1 pb-5 mb-3 rounded-1" >
	    	
	    	
	    <div class="d-flex flex-column gap-4 ">
	    	 	
	    	
	    	<!-- table card start -->
	    		<div class="card border-0">
	    	
	    		<div class="card-body">
	    		
	    			<!-- table header -->
				<div class="bio-table-head d-flex gap-2 my-3">
					<div class=" w-25 d-flex gap-1  rounded-1 " id="search-parent">
				
						<i class="bi bi-search "></i> <input type="search" name="mc" class=" " placeholder="search. . ."
							th:value="${mc}" id="search">
				
					</div>
				
				
				
				
					<a class="bio-btn bio-btn-blue rounded-1 btn-sm d-flex text-center">
						<i class="bi bi-filter"></i> sort
					</a>
				
				
				
				</div>
				<!-- table header end -->
	    	
	    		
	    			<table class="table table-sm table-responsive table-hover align-middle">
	    				<thead>
	    					<tr>
	    						<th>#No</th> <th>customer</th> <th> Date</th> <th>total amount</th> <th>Items number</th> <th>Status</th> <th>Invoiced</th> <th>Method</th> <th>Edit</th>
	    					</tr>
	    				</thead>
	    				<tbody class="">
	    					<tr th:each="order:${orders}">
	    						<td th:text="${order.id}"></td> <td th:text="${order.customer.username}"></td> <td th:text="${#dates.format(order.createdAt, 'dd-MM-yyyy hh:mm:ss')}"> </td> <td th:text="${#numbers.formatDecimal(order.totalAmount,1,2)}"></td> <td th:text="${#lists.size(order.orderItems)}"></td> <td><span th:class="'badge '+${mapStatusBG[order.status.name]}" th:text="${order.status}"> </span></td> <td><i th:class=" ${order.invoice!=null? 'bi bi-check-circle text-success': 'bi bi-check-circle text-danger'}"></i></td> <td th:text="${order.paymentMethod!=null ?order.paymentMethod.name:'N/A' }"></td> <td><div class="d-flex gap-3"><a href="#"><i class="bi bi-check-lg text-success"></i></a> <a href="#"><i class="bi bi-x-lg text-danger"></i> </a> <a th:href="@{/orederView(id = ${order.id})}"><i class="bi bi-arrow-right text-secondary"></i></a></div> </td>
	    					</tr>
	    					
	    					

	    					
	    					
	    				</tbody>
	    				
	    				<tfoot>

							
						</tfoot>
	    			</table>
						<!-- navigation -->	    
					<div class="section-nav d-flex gap-3 ">

							<nav aria-label="Page navigation">
								<ul class="pagination pagination-sm">
									<li class="page-item"><a class="page-link" href="#">Previous</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">Next</a></li>
								</ul>
							</nav>
							<div class="">
								<select class="form-select border-0  form-select-sm"
									id="pageNumber">
									<option>5</option>
									<option>10</option>
								</select>

							</div>

							<div>
								<span class="text-secondary">Total page: 14</span>
							</div>
						</div>
	    			
	    		</div>
	    		
	    		
	    	
	    	</div>
	    	
	    	<!-- table card end -->
	    	
	    	</div>
	    	
	    	
	    </section>
    
    </div>
    
</body>
</html>