<!DOCTYPE html>
<html lang="en" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="index">

<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="/css/categories/categorylist.css">
	<title>Countriest</title>
</head>

<body>
	<div style="width: 95%;" class="container d-flex flex-column gap-4" layout:fragment="content">

		<!-- start hearder commun with all pages -->
		<header class="d-flex  p-1 gap-2 align-items-center">



			<!-- breadcrumb -->



			<!-- end breadcrumb -->

		</header>

		<!-- end hearder commun with all pages -->


		<!-- start content -->



		<section class="shadow-sm container mb-3 bg-white p-1 p-5 d-flex flex-column gap-5">
			<div class="d-flex gap-2">

				<div class=" w-25 d-flex search-parent ">

					<i class="bi bi-search search-btn" id="search-btn"></i>
					<input type="search" name="mc" class="search search-input" placeholder="" th:value="${mc}"
						id="search-input">

				</div>


				<div class=" ms-auto   d-flex gap-2 justify-content-end">
					<select type="text" class="form-control " placeholder="countries" id="select-country">
						<option code="Ng">Niger</option>
						<option code="Ng">Eqypt</option>
						<option code="Ng">Portugal</option>
						<option code="Ng">Spain</option>
					</select>
					<a class="bio-btn bio-btn-brown rounded-1" id="add-country">
						Add
					</a>
				</div>

			</div>

			<div class="row g-0 row-cols-4 gap-4 ">


				<div class="card " th:each="c:${countries}">

					<img class="card-img-top" src="images/countries.png">
					<div class="card-body">
						<div class="d-flex gap-3"><i class="bi bi-buildings "></i> <span
								th:text="${#lists.size(c.cities)}"></span> </div>
						<span class="card-title" th:text="${c.name}"></span>
					</div>
				</div>




			</div>
			<datalist id="countrylist">
				<option code="Ng">Niger</option>
				<option code="Ng">Eqypt</option>
				<option code="Ng">Portugal</option>
				<option code="Ng">Spain</option>
			</datalist>


		</section>
		<script type="text/javascript" src="js/countries/countries.js"></script>
	</div>
</body>

</html>