<!DOCTYPE html>
<html  lang="en" data-bs-theme="light"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="index">
<head>
<meta charset="UTF-8">
<title>Customer's View</title>
</head>
<body>

	
	 <div	class="container d-flex flex-column gap-5 " layout:fragment="content">


			<!-- start hearder commun with all pages -->
			<header class="row border-bottom p-1">
				<h5 th:inline="text">customer #[[${customer.id}]] </h5>
			</header>
	
			<!-- end hearder commun with all pages -->
	


	</div>
	

</body>
</html>