<!DOCTYPE html>
<html lang="en" data-bs-theme="light"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="index">
<head>
<meta charset="UTF-8">
<title>Invoices view</title>
</head>
<body>
    <div	class="container " 	layout:fragment="content">
    
    
	    <!-- start content -->
	   		 <div class=" container mb-3 d-flex flex-column gap-2 bg-white shadow-sm py-3" style="width: 95%;">
		    	<!-- section controls -->
		    		<div class="section-controls gap-3 d-flex" >
		    			<a  th:href="@{/invoices}" class="text-black">
		    				<i class="bi bi-arrow-left" ></i>
		    			</a>
		    			
		    			<a th:if="${order.invoice!=null}" class="btn ms-auto shadow rounded-1" style="background-color: #1976d2; color: white">
		    				Edit invoice
		    			</a>
		    			
		    			<a th:unless="${order.invoice!=null}" class="btn ms-auto shadow rounded-1" th:href="@{/createInvoice(id=${order.id})}" style="background-color: #1976d2; color: white">
		    				Create invoice
		    			</a>
		    			
		    			<button class="btn shadow rounded-1 text-bg-warning">
		    				Print invoice
		    			</button>
		    		</div>
		    		<!--end section controls -->
		    	
		    	<!-- section Order -->
		    		<div class="fw-semibold">Order info</div>
		    	
		    		<div class="section-controls gap-3 d-flex border-1 border-bottom" >
		    			
		    			
		    			<div class="order-info">
		    				
		    				<div class="" th:inline="text">Order Number: # [[${order.id}]]</div>
		    			</div>
		    			
		    			<div class="ms-auto">
		    				<div>
		    					 <span  class="fw-semibold" >Order status: </span> <spanth:inline="text">[[${order.status}]]</span> 
		    				</div>
		    				<div>
		    					<span class="fw-semibold" >Order date:</span> <span th:inline="text"> [[${#dates.format(order.createdAt, 'dd/MM/yyyy hh:mm')}]]</span>
		    				</div>
		    			
		    			</div>
		    			
		    		</div>
		    		<!--end section Order -->
		    		
		    		
		    		<!-- section Bill -->
		    	
		    		<div class="section-controls gap-3 d-flex" >
		    			
		    			
		    			<div class="bill-info">
		    				<div class="fw-semibold">Bill from</div>
		    				<div class="d-flex flex-column lh-1">
		    					<span>A2R SARL</span>
		    					<span> No 182 Boulevard Al Mouquaouama</span>
		    					<span>City El Wahda</span>
		    					<span>20150 Mohammadia</span>
		    					<span>Tel: 0523324474</span>
		    					<span>Fax: 0523324474</span>
		    					<span>e-mail: contact@bionoor.ma</span>
		    					<span>R.C.S: 13237</span>
		    					<span>No TVA intracom: 39572170</span>
		    				</div>
		    			</div>
		    			
		    			<div class="ms-auto text-end">
		    				<div class="fw-semibold">Bill to</div>
		    				<div class="d-flex flex-column lh-1">
		    					<span th:inline="text">[[${order.customer.email}]]</span>
		    					<span th:inline="text">[[${order.adrress}]]</span>
		    				</div>
		    			</div>
		    			
		    		</div>
		    		<!--end section Billing -->
		    		<!-- invoice Info -->
		    		<div class="section-controls ">
			    		<div class="d-flex">
							<div class="p-2 d-flex flex-column w-50 border-top border-start border-end rounded-top border-black border-2 ms-auto">
								<span class="text-uppercase" th:inline="text">[[${order.customer.username}]]</span> <span>EL JADIDA</span>
							</div>
						</div>
		    			
		    			<div>
		    				<table class="table align-midle table-bordered">
			    				<thead>
			    					<tr>
			    						<th> #Invoice</th> <th>Date</th> <th>Due date</th> <th>Customer code</th> <th></th>
			    					</tr>
			    				</thead>
		    				
			    				<tbody>
			    					<tr th:if="${order.invoice!=null}">
			    						<td th:inline="text">[[${invoice.id}]]</td>  <td th:inline="text">[[${invoice.createdAt}]]</td>	<td th:inline="text">[[${invoice.dueDate}]]</td> <td th:inline="text">[[${order.customer.id}]]</td> <td></td>
			    					</tr>
			    				</tbody>
		    				</table>
		    			
		    			</div>
		    			
		    		</div>
		    		
		    		<!-- end invoice info -->
		    		
		    		<!-- section items -->
		    		<div >
		    			<table class="table align-midle">
		    				<thead class="table-light">
		    					<tr>
		    						<th>Code</th> <th>Item name</th> <th>Unit price(TTC)</th> <th>Quantity</th> <th>Total</th>
		    					</tr>
		    				</thead>
		    				<tbody>
		    					<tr th:each="item:${order.orderItems}">
		    						<td  th:inline="text">[[${item.id}]]</td> <td  th:inline="text">[[${item.product.name}]]</td> <td  th:inline="text">[[${item.product.price}]]<td  th:inline="text">[[${item.quantity}]]</td> <td  th:inline="text">[[${#numbers.formatDecimal(item.quantity * item.product.price,1,2)}]]</td>
		    					</tr>
		    					
		    		
		    				</tbody>
		    			</table>
		    		</div>
		    		<!-- end section items -->
		    		
		    		<hr>
		    		<!-- section total amount calcul -->
		    		<div class="d-flex ">
		    			<div class="payment-info d-flex flex-column">
		    				<span class="fw-semibold">Payment method :</span>
		    				<span th:if="${order.paymentMethod != null}" th:inline="text">[[${order.paymentMethod.discriminatorValue}]]</span>
		    			</div>
		    			<!-- droite section -->
		    			<div class="ms-auto" style="min-width: 200px">
		    					
		    					
		    					<div class="d-flex gap-4" >
		    						<span>Discount Code:</span><span class="ms-auto" th:text="${order.discountCode!=null? order.discountCode.code: 'N/A' }"></span>
		    					</div>
		    					
		    					<div class="d-flex gap-4" >
		    						<span>Total H.T:</span><span class="ms-auto" th:inline="text">[[${#numbers.formatDecimal(order.totalAmount,1,2)}]]</span>
		    					</div>
		    					
		    					<div class="d-flex gap-4" >
		    						<span>Remise:</span><span class="ms-auto"th:text="${order.invoice!=null? order.invoice.remise:'N/A' }"></span>
		    					</div>
		    					
		    					<div class="d-flex gap-4" >
		    						<span>Vat:</span><span class="ms-auto" th:text="${order.invoice!=null? order.invoice.vat:'N/A' }"></span>
		    					</div>
		    					
		    					<hr>
		    					
		    					<div class="d-flex gap-4" >
		    						<span>Transport:</span><span class="ms-auto"th:text="${order.invoice!=null? order.invoice.transport:'N/A' }"></span>
		    					</div>
		    					
		    					
		    					
		    					
		    					<hr>
		    					
		    					<div class="d-flex gap-4" >
		    						<span>Total amount (TTC):</span><span class="ms-auto" th:text="${order.invoice!=null? #numbers.formatDecimal(order.invoice.totalAmount,1,2):'N/A' }"></span>
		    					</div>
		    					
		    					<div class="d-flex gap-4 fw-semibold" >
		    						<span class="">Due to pay:</span> <span class="ms-auto" th:text="${order.invoice!=null? #numbers.formatDecimal(order.invoice.totalAmount,1,2):'N/A' }"></span>
		    					</div>
		    			</div>
		    			
		    		</div>
		    	
		    </div>
	    
    </div>
    
</body>
</html>