<!DOCTYPE html>
<html lang="en" data-bs-theme="light"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="index">
<head>
<meta charset="UTF-8">
<title>Invoices view</title>
<link type="text/css" rel="stylesheet" href="css/invoices/invoiceedit.css">
</head>
<body>
    <div	class="container " 	layout:fragment="content">
    
    
	    <!-- start content -->
	   		 <form id="invoice-form" onsubmit="createOrderInvoice(event)" class=" container mb-3 d-flex flex-column gap-2 bg-white shadow-sm py-3" style="width: 95%;">
		    	<!-- section controls -->
		    		<div class="section-controls gap-3 d-flex" >
		    			
		    			
		    			<a  class=" ms-auto  btn border-0" style="color: #1976d2">
		    				Cancel
		    			</a>
		    			
		    			
		    			<button type="submit" class="btn shadow rounded-1 text-bg-warning border-0" >
		    				Save
		    			</button>
		    		</div>
		    		<!--end section controls -->
		    	
		    	<!-- section Order -->
		    		<div class="fw-semibold">Order info</div>
		    	
		    		<div class="section-controls gap-3 d-flex" >
		    			
		    			
		    			<div class="order-info" th:id="${order.id}">
		    				
		    				<div class="" th:inline="text">Order Number: # [[${order.id}]]</div>
		    			</div>
		    			
		    			<div class="ms-auto">
		    				<div class="mb-2 ">
		    					<div class="form-check form-check-reverse">
		    						<label  class="form-check-label" for="pending" >Pending</label> <input th:attr="checked=${order.status.name=='PENDING'}" th:onchange="'updateOrderStatus(this,'+ ${order.id}+')'" value="PENDING" class="form-check-input" type="radio" name="status" id="pending">
		    					</div>
		    					
		    					<div class="form-check form-check-reverse">
		    						 <label  class="form-check-label" for="delivered">Delivered</label> <input th:attr="checked=${order.status.name=='DELIVERED'}" th:onchange="'updateOrderStatus(this,'+ ${order.id}+')'" value="DELIVERED" class="form-check-input" type="radio" name="status" id="delivered">
		    					</div>
		    					
		    					<div class="form-check form-check-reverse">
		    						<label  class="form-check-label" for="processing">Processing</label>  <input th:attr="checked=${order.status.name=='PROCESSING'}" th:onchange="'updateOrderStatus(this,'+ ${order.id}+')'" value="PROCESSING" class="form-check-input" type="radio" name="status" id="processing">
		    					</div>
		    					
		    					<div class="form-check form-check-reverse">
		    						 <label  class="form-check-label" for="ready" >Ready</label>  <input th:attr="checked=${order.status.name=='READY'}" value="READY" th:onchange="'updateOrderStatus(this,'+ ${order.id}+')'" class="form-check-input" type="radio" name="status" id="ready">
		    					</div>
		    					
		    					<div class="form-check form-check-reverse">
		    						 <label  class="form-check-label" for="returned" >Returned</label>  <input th:attr="checked=${order.status.name=='RETURNED'}" value="RETURNED" th:onchange="'updateOrderStatus(this,'+ ${order.id}+')'" class="form-check-input" type="radio" name="status" id="returned">
		    					</div>
		    					
		    					 
		    				</div>
		    				<div>
		    					<span class="fw-semibold" >Order date:</span> <span th:inline="text"> [[${#dates.format(order.createdAt, 'dd/MM/yyyy hh:mm')}]]</span>
		    				</div>
		    			
		    			</div>
		    			
		    		</div>
		    		<!--end section Order -->
		    		<hr>
		    		
		    		<!-- section Bill -->
		    	
		    		<div class="section-controls gap-3 d-flex" >
		    			
		    			
		    			<div class="bill-info ">
		    				<div class="fw-semibold">Bill from</div>
		    				<div class="d-flex flex-column lh-1 text-secondary">
		    					<span>A2R SARL</span>
		    					<span> No 182 Boulevard Al Mouquaouama</span>
		    					<span>City El Wahda</span>
		    					<span>20150 Mohammadia</span>
		    					<span>Tel: 0523324474</span>
		    					<span>Fax: 0523324474</span>
		    					<span>e-mail: contact@bionoor.ma</span>
		    					<span>R.C.S: 13237</span>
		    					<span>No TVA intracom: 39572170</span>
		    				</div>
		    			</div>
		    			
		    			<div class="ms-auto text-end">
		    				<div class="fw-semibold ">Bill to</div>
		    				<div class="d-flex flex-column lh-1 text-end text-secondary">
		    					<span id="user-email" th:inline="text">[[${order.customer.email}]]</span>
		    					<span id="user-address" th:inline="text">[[${order.adrress}]]</span>
		    				</div>
		    			</div>
		    			
		    		</div>
		    		<!--end section Billing -->
		    		<!-- invoice Info -->
		    		<div class="section-controls ">
			    		<div class="d-flex">
							<div class="p-2 d-flex flex-column w-50 border-top border-start border-end rounded-top border-black border-2 ms-auto">
								<span class="text-uppercase" th:inline="text">[[${order.customer.username}]]</span> <span>EL JADIDA</span>
							</div>
						</div>
		    			
		    			<div>
		    				<table class="table align-midle table-bordered">
			    				<thead>
			    					<tr>
			    						<th> #Invoice</th> <th>Date</th> <th>Due date</th> <th>Customer code</th> <th></th>
			    					</tr>
			    				</thead>
		    				
			    				<tbody>
			    					<tr th:if="${invoice!=null}">
			    					  	<td th:if="${invoice.id != null}" th:inline="text">[[${invoice.id}]]<input name="id" type="hidden" th:value="${invoice.id}"> </td>	 <td th:unless="${invoice.id != null}" th:text="${index}"></td>  <td th:text="${#dates.format(invoice.createdAt,'dd-MM-yyyy hh:mm')}"></td>  <td ><input name="dueDate" type="date" class="form-control w-100 border-bottom border-3 border-0" required="required" th:value="${#dates.format(invoice.dueDate,'yyyy-MM-dd')}"> </td> <td  th:text="${order.customer.id}"></td> <td></td>
			    					</tr>
			    				</tbody>
		    				</table>
		    			
		    			</div>
		    			
		    		</div>
		    		
		    		<!-- end invoice info -->
		    		
		    		<!-- section items -->
		    		<div >
		    			<table class="table align-midle">
		    				<thead class="table-light">
		    					<tr>
		    						<th>Code</th> <th>Item name</th> <th>Unit price (MAD)</th> <th>Quantity</th> <th>Total (MAD)</th>	<th>Action</th>
		    					</tr>
		    				</thead>
		    				<tbody id="items-table">
		    					<tr th:each="item:${order.orderItems}" th:id="${item.id}">
		    						<td class="item-product-code" th:inline="text">[[${item.product.code}]]</td> <td class="item-product-name"> <input  list="product-list" onchange=" onChangeItemName(event)" type="text"  th:value="${item.product.name}" class="form-control w-50"></td> <td class="item-product-price" th:inline="text">[[${item.product.price}]]</td> <td><input onchange="updateQauntity(event)"  type="number" min="1" class="form-control w-50 rounded-1 item-quantity" th:value="${item.quantity}"></td> <td  th:inline="text" class="item-totalAmount">[[${#numbers.formatDecimal(item.quantity * item.product.price,1,2)}]]</td>    <td><a onclick="deleteOrderItem(event)" class="text-decoration-none border-0 delete"  style="color: #1976d2">Delete</a></td>                 
		    					</tr>
		    					
		    		
		    				</tbody>
		    			</table>
		    		</div>
		    		<!-- end section items -->
		    		
		    		<hr>
		    		<button type="button" class="btn ms-auto mb-1 shadow rounded-1" onclick="addItemTr(event)" style="background-color: #1976d2; color: white">
									 Add item
					</button>
		    		<!-- section total amount calcul -->
		    		<div class="d-flex gap-4">
		    			<div class="payment-info d-flex flex-column">
		    				<span class="fw-semibold">Payment method :</span>
		    				<span th:if="${order.paymentMethod != null}" th:inline="text">[[${order.paymentMethod.name}]]</span>
		    			</div>
		    			<!-- droite section -->
		    			<div class="ms-auto d-flex flex-column gap-2 " style="min-width: 70px">
			    				
								
								
		    					
		    					
		    					<div class="d-flex gap-3" >
		    						<span>Discount Code:</span> <div class=" d-flex gap-2"> <input onchange="addDiscountCode(event)" placeholder="Code" class="rounded-1 form-control form-control-sm dicountCode-code w-50 " type="text"  th:value="${order.discountCode!=null? order.discountCode.code: '' }">  <span class="discountCode-value ms-auto" th:text="${order.discountCode!=null? order.discountCode.discount: 'N/A' }"></span> </div> 
		    					</div>
		    					
		    					<div class="d-flex gap-2" >
		    						<span>Total H.T:</span><span id="THT" class="ms-auto" th:inline="text">[[${#numbers.formatDecimal(order.totalAmount, 1,2)}]]</span>
		    					</div>
		    					
		    					<div class="d-flex gap-2" >
		    						<span>Remise:</span><input name="remise" id="remise" placeholder="MAD" class="ms-auto form-control w-25 rounded-1" type="number" min="0"  th:value="${invoice.remise}">
		    					</div>
		    					
		    					<div class="d-flex gap-2" >
		    						<span>Vat (%):</span><input name="vat" id="vat" class="ms-auto form-control w-25 rounded-1" type="number" min="0"  th:value="${invoice.vat}">
		    					</div>
		    					
		    					
		    					<div class="d-flex gap-2 border-bottom pb-2" >
		    						<span>Transport:</span><input name="transport" id="transport" class="ms-auto form-control w-25 rounded-1" type="number" min="0"  th:value="${invoice.transport}">
		    					</div>
		    					
		    					
		    					
		    					<div class="d-flex gap-4" >
		    						<span>Total amount (TTC):</span><span id="TTC" class="ms-auto" th:text="${order.invoice!=null? order.invoice.totalAmount:'N/A' }"></span>
		    					</div>
		    					
		    					<div class="d-flex gap-4 fw-semibold" >
		    						<span class="">Due to pay:</span> <span id="DTP" class="ms-auto" th:text="${order.invoice!=null? order.invoice.dueToPay:'N/A' }"></span>
		    					</div>
		    			</div>
		    			
		    		</div>
		    		<!-- payment list -->
		    		<div th:if="${#lists.size(invoice.payments)> 0}" class="row row-cols-4 g-2 gap-2 mt-5 justify-content-center">
						<div th:each="payment: ${invoice.payments}" class="card text-center payment-card shadow">
							<div  class="card-body ">
								<span class="card-text h3 text-secondary" th:text="${payment.amount}">
									
								</span>	
								
							</div>
						</div>
						
					</div>
		    	
		    </form>
		    <datalist id="product-list">
		    	<option th:each="product:${productList}" th:value="${product.name}">
		    </datalist>
		    
		    <template id="template">
				<tr >
		    		<td class="item-product-code" >N/A</td> <td ><input type="text" class="form-control w-50 item-product-name" onchange=" onChangeItemName(event)" list="product-list"></td> <td class="item-product-price">N/A</td> <td><input  type="number" min="1" value="1" class="form-control w-50 rounded-1 item-quantity" ></td> <td class="item-totalAmount">N/A</td>  <td><a onclick="deleteOrderItem(event)" class=" text-decoration-none delete"  style="color: #1976d2">Delete</a> </td> 
		    	</tr>	     	
		    </template>
		    
		    <script type="text/javascript" src="js/invoices/invoiceedit.js"></script>
	    
    </div>
    
</body>
</html>