<!DOCTYPE html>
<html lang="en" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="index">

<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="/css/categories/categorylist.css">
	<title>Cities</title>
</head>

<body>
	<div style="width: 95%;" class="container d-flex flex-column gap-4" layout:fragment="content">

		<!-- start hearder commun with all pages -->
		<header class="d-flex  p-1 gap-2 align-items-center">

			<strong th:text="${country.name}+':'">
				
			</strong>
			<span id="country-code" th:text="${country.code}">
				
			</span>

			<!-- breadcrumb -->



			<!-- end breadcrumb -->

		</header>

		<!-- end hearder commun with all pages -->


		<!-- start content -->



		<section class="shadow-sm container mb-3 bg-white p-1 p-5 d-flex flex-column gap-5">
			<div class="d-flex gap-2">
				<div>
					<a href="/countries"><i class="bi bi-arrow-left text-secondary"></i></a>
				</div>


				<div class=" ms-auto   d-flex gap-2 justify-content-end">
					<select type="text" class="form-control " placeholder="countries" id="select-cities">
						
					</select>
					<button class="bio-btn bio-btn-brown rounded-1 shadow-sm" id="add-country">
						Add city
					</button>
				</div>

			</div>

			<div class="row g-0 row-cols-md-4 g-4 ">
				
				<div class="col" th:each="c:${country.cities}">
					<div class="card card-city" >

					<img class="card-img-top" src="images/city.png">
					<div class="card-body">
						<div class="d-flex gap-3"> <span> </span> <span></span> 
						</div>
						<div class="d-flex gap-3"> <span></span> 
						</div>
						<span class="card-title" th:text="${c.name}"></span>
					</div>
				</div>
					
				</div>


				




			</div>
			

		</section>
		<script type="text/javascript" src="js/cities/cities.js"></script>
	</div>
</body>

</html>