@charset "UTF-8";

.no-invoices{
	
	color: violet;
	background-image: url("../../images/_1a57c853-5328-4ac6-b2aa-887337ffa95f.jpeg");
}


.no-invoices td{
	
	
}


#search{
	
	border: 0;
	width: 100%;
}

#search-parent{
	
	border: 2px solid lightgray;
	padding-left: 6px;
	
	
}


#search:focus{

	border: none;
	outline: none;
}




