<!DOCTYPE html>
<html lang="en" data-bs-theme="light"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="index">
<head>
<meta charset="UTF-8">
<title>new product</title>
<link th:href="@{css/products/productform.css}"  rel="stylesheet" type="text/css">
</head>
<body>
    <div	class="container " style="width: 95%;"	layout:fragment="content">
    
    
	    <!-- start content -->
	   		 <div class=" container g-0 mb-3 d-flex flex-column gap-2 bg-white shadow-sm pt-2 pb-3" >
		    	<!-- section controls -->
		    		<div class="section-controls gap-3 d-flex px-3 align-items-center" >
		    			<a  th:href="@{/products}" class="text-black">
		    				<i class="bi bi-arrow-left" ></i>
		    			</a>
		    			
		    			<span class="fs-5">
		    				Add New Product
		    			</span>
		    		</div>
		    		<!--end section controls -->		    		
		    		
		    		<hr>
		    		
		    		
		    			
		    			<form enctype="multipart/form-data" th:object="${product}" th:action="@{/saveProduct}" method="post" class="row form-group px-3 gy-3">
		    			
			    			<!-- info composition product -->
			    			
			    			
			    			<!-- others -->
		    				<div class="col d-flex flex-column gap-3">
		    					
		    					<input th:field="*{name}" class="form-control rounded-1" placeholder="Name" type="text" name="name" id="name">
		    					<input th:field="*{code}" class="form-control rounded-1" placeholder="Code" type="text" name="code" id="code">
		    					<input th:field="*{price}" class="form-control rounded-1" placeholder="Price" type="number" name="price" id="price">
		    					<div class="text-center">
		    						<label for="images" class="p-1 rounded-1 uploader-images w-100" > <i class="bi bi-upload d-block"></i> <span id="labelfile" class="">upload images</span> </label>
		    						<input th:field="*{images}" class="d-none" multiple="multiple" type="file" id="images" accept="images/*, .png, .jpg, .jpeg" >
		    					</div>
		    					
		    				</div>
		    				
		    				<div class="col d-flex flex-column gap-3">
		    					<input th:field="*{quantity}" class="form-control rounded-1" placeholder="Quantity" type="number" name="quantity" id="quantity">
		    					<select th:field="*{category}" class="form-control form-select text-secondary rounded-1" name="category" id="category">    					
		    						<option th:each="c:${categories}" th:value="${c.id}" th:text="${c.name}"></option>
		    						<option  value="" >N/A</option>
		    						
		    					</select>
		    					<input th:field="*{promotion}" class="form-control rounded-1" placeholder="Promotion price" min="0" type="number" name="promotion" id="promo">
		    					<textarea th:field="*{description}" class="form-control rounded-1" name="description" placeholder="Give a short description" rows="3" cols=""></textarea>
		    					<textarea th:field="*{ingredients}" class="form-control rounded-1" name="ingredients" placeholder="Give ingredient, separated by ';'" rows="5" cols=""></textarea>

		    				</div>
		    			
		    			    <div class="col-12">
		    			    	<button class="btn rounded-1  show-sm" style="background-color: #1976d2; color: white; width: 12%" type="submit">
		    			    			Submit
		    			    	</button>
		    			    </div>
		    			
		    			</form>
		    			
		    			
		    			
		    		
		    	
		    	
		    </div>
	    <script type="text/javascript" src="js/products/productform.js"></script>
    </div>
    
</body>
</html>