<!DOCTYPE html>
<html lang="en" data-bs-theme="light"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="index">
<head>
<meta charset="UTF-8">
<title>Categories's listist</title>
</head>
<body>
    <div style="width: 95%;"	class="container d-flex flex-column gap-5"	layout:fragment="content">
    
    <!-- start hearder commun with all pages -->
    	<header class="d-flex border-bottom p-1" >
    		<h5 >Categories List</h5> 
    		
    		<a class="btn ms-auto btn-sm btn-primary rounded-1 shadow-sm" style="background-color: #1976d2; color: white">
						<i class="bi bi-plus-lg"></i> Add category
			</a>
    	</header>
    	
    <!-- end hearder commun with all pages -->
    
    
    <!-- start content -->
    
    	
    
	    <section class="shadow-sm container mb-3 bg-white p-1 pb-5" >
	    	
	    	
	    	<div class="d-flex flex-column gap-4 ">
	    	
	    	
	    	
	    	
	    	<!-- table card start -->
	    		<div class="card border-0">
	    	
	    		<div class="card-body">
	    		
	    			<!-- table header -->
				<div class="bio-table-head d-flex gap-2 my-3">
					<div class="input-group w-25 input-group-sm">
						<input type="search" class="form-control "
							placeholder="category's name">
						<a class="btn btn-outline-primary" type="button"
							id="button-addon2"><i class="bi bi-search"></i></a>
					</div>



					<a class="btn btn-primary rounded-1 btn-sm text-center" style="background-color: #1976d2; color: white">
						<i class="bi bi-filter"></i> sort
					</a>
					
					

				</div>
				<!-- table header end -->
	    		
	    			<table class="table table-sm table-hover align-middle">
	    				<thead>
	    					<tr>
	    						<th>Image</th> <th>Category</th> <th>Qt products</th> <th>Active discount</th> <th>Parent</th> <th>Edit</th>
	    					</tr>
	    				</thead>
	    				<tbody class=" ">
	    					<tr>
	    						<td><img class="" style="width: 70px;" src="https://urlz.fr/lAOL"></td><td>category 1</td> <td>452</td> <td><span class="activediscount">Best-ever</span></td> <td>category 4</td> <td><div class="d-flex gap-3"><a href="#"><i class="bi bi-pencil-fill text-secondary"></i></a> <a href="#"><i class="bi bi-x-lg text-danger"></i> </a> <a href="#"><i class="bi bi-arrow-right text-secondary"></i></a> </div></td>
	    					</tr>
	    					
	    					
	    				</tbody>
	    				
	    				<tfoot>

							
						</tfoot>
	    			</table>
	    			<!-- navigation -->
	    			<div>
	    					<nav aria-label="Page navigation example">
								<ul class="pagination pagination-sm">
									<li class="page-item"><a class="page-link" href="#">Previous</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">Next</a></li>
								</ul>
							</nav>
	    			</div>
							    		
	    		</div>
	    		
	    		
	    	
	    	</div>
	    	
	    	<!-- table card end -->
	    	
	    	</div>
	    	
	    	
	    </section>
	    
    </div>
</body>
</html>