<!DOCTYPE html>
<html lang="en" data-bs-theme="light"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="index">
<head>
<meta charset="UTF-8">
<title>Category View</title>
<link th:href="@{css/categories/categoryview.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <div style="width: 95%;"	class="container d-flex flex-column gap-4"	layout:fragment="content">
    
    <!-- start hearder commun with all pages -->
    	<header class=" border-bottom p-1" >
    		<h5 >Category View</h5>
    	</header>
    	
     <!-- end hearder commun with all pages -->
    
    
    
    <!-- start content -->
	    <section class="row  g-0 gap-2    p-1 pb-3  rounded-1" >
	    	<div class="col-8 shadow-sm  bg-white">
	    		<div class="card d-flex flex-row border-0">
	    			
	    			<img class="border w-50" alt="" th:src="${category.image}">
	    			<div class="card-body d-flex flex-column gap-1">
	    				<div> <label for="#categoryName">Title</label> <input th:onchange="'changeName(event,'+${category.id}+')'" type="text" class="form-control form-control-sm rounded-1"id="categoryName"   th:value="${category.name}"> </div>
	    				<div> 
	    					<label for="#categoryParent">Parent</label> 
	    					<select class="form-select form-select-sm rounded-1" id="categoryParent" > 
	    									<option th:each="parent:${categories}"  th:value="${parent.id}" th:text="${parent.name}"  > </option> 
	    									<option th:if="${category.parentCategory}!=null" selected th:value="${category.parentCategory!= null? category.parentCategory.id:'' }" th:text="${category.parentCategory!= null ? category.parentCategory.name:'N/A'}"  > </option> 
											<option  th:attr="selected=${category.parentCategory==null}"  value="" >N/A</option>
	    					</select>
	    			     </div>
	    				<div class="align-self-end mt-auto"> <a href="#" class="text-decoration-none">Category's Products</a> </div>
	    			</div>
	    		
	    		</div>
	    	</div>
	    	
	    	  		
	    </section>
		 
		 <section class="row g-0   p-1 pb-5 ">
	     	<div class="col-5   p-1">
	    		<!-- discountcode -->
	    		 <div class="card pb-4 rounded-1">
	    		 	<div class="card-body">
	    			 	<span class="card-title fs-4">Discount Code</span>
	    			 	<ul class="list-group gap-2 discountsList">
	    			 		<li th:each="discount:${discountCodes}" class="list-group-item shadow-sm " > <div class=" w-100 d-flex gap-2 "> <span class="text-secondary discount-code" th:text="${discount.code}"></span> <span class="ms-auto text-secondary discount-date" th:text="${#dates.format(discount.endDate,'dd-MM-yyyy')}"></span>  <input onchange="toggleDiscountActif(event)" class="form-check-input discount-check" type="checkbox" th:value="${discount.id}" th:attr="checked=${discount.actif}"></input> </div> </li>
	    			 		
	    			 	</ul>
	    			 	<!-- navigation -->
	    			 	<div class="text-center"> <span></span>  <span></span> </div>
	    			</div>
	    			
	    			<!-- add new item -->
	    			<form id="formDiscount"  class=" d-flex justify-content-center gap-1 form-group rounded-1 p-1">
	    				<input name="discount" class="form-control w-25" type="number" placeholder="discount" min="5" step="0.01">  <input name="code" class="form-control w-25" placeholder="title" type="text" onchange="discountEditing(event)"> <input class="form-control w-25" type="date" name="endDate"> <button th:onclick="'discountSubmit('+${category.id}+')'" type="button" class="addDiscount btn btn-primary rounded-1" disabled >Add</button>
	    			</form>
	    		 </div>
	    		
	    	</div>
	    	
	    	
	    	<!-- col for stats -->
	    	
	    	<div class="col-5   p-1 ">
	    		<div class="row g-0 gap-2">
	    			<div class="col-5 p-1 bg-white  shadow-sm"> <div class="card-body flex-column d-flex text-center"> <span class="fs-2">285 <sub class="fs-6">/500</sub> </span> <span class="text-secondary">Products</span> </div> </div>
	    			<div class="col-5 p-1 bg-white shadow-sm"> <div class="card-body d-flex flex-column text-center"><span class="fs-2">35</span> <span class="text-secondary">Sold</span> </div> </div>
	    			<div class=" col-5  p-1 bg-white shadow-sm"> <div class="card-body d-flex flex-column text-center"><span class="fs-2">3555 <sub class="fs-6">MAD</sub></span> <span class="text-secondary">Earning</span></div>  </div>
	    			
	    		</div>
	    		
	    	</div>
	     
	     </section>
	     
	     <!-- the template for creat new discount -->
	     
	     <template id="template">
	    		<li  class="list-group-item shadow-sm  " > <div  class=" w-100 d-flex gap-2 "> <span class="discount-name text-secondary" ></span> <span  class="ms-auto text-secondary discount-date" ></span>  <input  onchange="toggleDiscountActif(event)" class="form-check-input discount-check" type="checkbox"></input> </div> </li>
	     </template>
		 
    <script type="text/javascript" th:src="@{js/categories/categoryview.js}"></script>
    </div>
    
</body>
</html>