<!DOCTYPE html>
<html lang="en" data-bs-theme="light"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="index">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
<link href="css/dashboard/dashboardview.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="fragment" style="width: 95%;"	class="container d-flex flex-column gap-4"	layout:fragment="content">
    
    <!-- start hearder commun with all pages -->
    	<header class=" border-bottom p-1 d-flex align-items-center" >
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb ">
					<li class="breadcrumb-item"><a href="#"> <i class="bi bi-house-fill"></i> </a></li>
					<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
				</ol>
			</nav>
			
			
			<div class="btn-group ms-auto">
				<button type="button" class="btn d-flex align-items-center gap-1 btn-outline-secondary" id="printerAllGraphsPdf"> <i class="bi bi-file-earmark-pdf-fill"></i> Export pdf</button>
				<button type="button" class="btn d-flex   align-items-center gap-1 btn-outline-secondary" id="printerAllGraphsImg"> <i class="bi bi-image"></i> Export image</button>

			</div>
    	</header>
    	
     <!-- end hearder commun with all pages -->
    
		
    <!-- start content -->
	    <section class="row gx-0    p-1 pb-3  rounded-1" id="allGraphs">
	    	
	    	<div class="col-12">
				
				<div class="d-block d-sm-flex gap-2 mb-5">
						<div class="card-body shadow-sm d-flex gap-3 bio-bl-green align-items-center p-3">
							<div> <i class="bi bi-currency-dollar stat-icon"></i> </div>
						
							<div class="d-flex flex-column ">
								<span class="fs-6">This week sales</span>
								<span class="fw-semibold">500</span>
							</div>
						
							<div class="ms-auto">
								<a><i class="bi bi-arrow-right"></i> </a>
							</div>
						</div>
						
						
						
						<div class="card-body shadow-sm d-flex bio-bl-red gap-3 align-items-center p-3">
							<div> <i class="bi bi-truck stat-icon"></i> </div>
						
							<div class="d-flex flex-column  ">
								<span class="fs-6 ">Order to deliver</span>
								<span class="fw-semibold" th:inline="text"> [[${toDeliver}]]</span>
							</div>
						
							<div class="ms-auto">
								<a><i class="bi bi-arrow-right"></i> </a>
							</div>
						</div>
						
						
						<div class="card-body shadow-sm d-flex bio-bl-blue gap-3 align-items-center p-3">
							<div> <i class="bi bi-cash stat-icon"></i> </div>
						
							<div class="d-flex flex-column  ">
								<span class="fs-6 ">Earned</span>
								<span class="fw-semibold" th:inline="text"> [[${earned}]] </span>
							</div>
						
							<div class="ms-auto">
								<a><i class="bi bi-arrow-right"></i> </a>
							</div>
						</div>
						
						
						<div class="card-body shadow-sm d-flex bio-bl-brown gap-3 align-items-center p-3">
							<div> <i class="bi bi-person-fill stat-icon"></i> </div>
						
							<div class="d-flex flex-column  ">
								<span class="fs-6 ">Customers</span>
								<span class="fw-semibold" th:inline="text">[[${customers}]]</span>
							</div>
						
							<div class="ms-auto">
								<a><i class="bi bi-arrow-right"></i> </a>
							</div>
						</div>
				</div>
				
			
				
			</div>
			
		<!-- encdcol-->	
			
			<div class="col-12 ">
				
				<div class="d-block d-sm-flex gap-2 mb-3">
					<!-- graph-start-->
					<div class="card-body shadow-sm bg-white p-2">
						
						<!--  header of card-->
						<div  class="d-flex px-4 pt-4 gap-3" >
							<span  class="fw-semibold fs-5">fulfilled/received</span>
							
							<div class="dropdown ms-auto" id="dropdown-sales">
								<div class="bio-select position-relative">
									<button class="bio-btn border rounded-1    bio-dropdown-toggle" id="dropdown-fulfilled-action" data-bio-toggle="dropdown">
										<span>Last year</span> <i class="bi bi-chevron-down"></i>
									</button>
									<ul class="bio-dropdown-menu dropdown-menu end-0" id="dropdown-fulfilled-menu">
										<li  class="dropdown-item bio-opt " onclick="filter(event, 'fulfilled')" value="1"> This year</li>
										<li  class="dropdown-item bio-opt"  onclick="filter(event, 'fulfilled')" value="0"> Last year</li>
										
									</ul>
								</div>
							</div>
							
							<!-- graph download btn-->
							<i class="bi bi-download bio-btn download-graph-btn"></i>
							
							
						</div>
						
						<!-- end header of card-->
						<div id="fulfilled-received" class="graph">
							<canvas width="100%" id="graph-orders-fulfilled"></canvas>
						</div>
					</div>
					
					<!-- graph-start-->
					<div class="card-body shadow-sm bg-white p-2" style="width: 28%;" >
						
						<!--  header of card-->
						<div class="d-flex px-4 pt-4 gap-3" >
							<span  class="fw-semibold fs-5">Orders by status</span>
							
							
							<!-- graph download btn-->
							<i class="bi bi-download bio-btn download-graph-btn ms-auto"></i>
							
						</div>
						
						<!-- end header of card-->
						
						<div id="orders-by-status" class="graph">
							<canvas width="100%" id="graph-orders-status"></canvas>
						</div>
						
					</div>
				</div>
				
			</div>
		
			
			<!-- encdcol-->	
		
			
			<div class="col-12 ">
				
				<div class="d-block d-sm-flex gap-2 mb-3">
										
					<!-- graph-start-->
					<div class="card-body   shadow-sm bg-white p-2 "  style="width: 8%;">
						<!--  header of card-->
						<div class="d-flex px-4 pt-4 gap-3">
							<span class="fw-semibold fs-5">Stock</span>
						
						
							<!-- graph download btn-->
							<i class="bi bi-download bio-btn download-graph-btn ms-auto"></i>
						
						</div>
						
						<!-- end header of card-->
						<div class="d-flex gap-4 graph" id="stock"  >
							
							<div class="w-100 graph"  >
							
								<canvas id="graph-stock"></canvas>
							</div>
							
						</div>
						
						
					</div>
					
					<!-- graph-start-->
					<div class="card-body shadow-sm  bg-white " >
						
						<div class="d-flex px-4 pt-4 gap-3">
							<span  class="fw-semibold fs-5">Top Sales Products</span>
							
							<div class="dropdown ms-auto" id="dropdown-best-seller">
								<div class="bio-select position-relative">
									<button class="bio-btn border rounded-1    bio-dropdown-toggle" id="dropdown-best-seller-action" data-bio-toggle="dropdown">
										<span>Last month</span> <i class="bi bi-chevron-down"></i>
									</button>
									<ul class="bio-dropdown-menu dropdown-menu end-0" id="dropdown-best-seller-menu">
										<li  class="dropdown-item bio-opt " onclick="filter(event, 'top-sales')" value="1"> This month</li>
										<li  class="dropdown-item bio-opt"  onclick="filter(event, 'top-sales')" value="0"> Last month</li>
										
									</ul>
								</div>
							</div>
							
							<!-- graph download btn-->
							<i class="bi bi-download bio-btn download-graph-btn"></i>
							
						</div>
						
						<div class="table-responsive graph" id="best-seller">
							<table class="table ">
								<thead class="fw-semibold">
									<tr class="text-center">
										<th></th>
										<th class="fw-semibold">Name</th>
										<th class="fw-semibold">Earned</th>
										<th class="fw-semibold">Stock status</th>
										<th class="fw-semibold">Action</th>
									</tr>
								</thead>
								<tbody id="best-seller-body">
									<tr class="text-center">
										<td > <img src="images/_7cacb172-2bdd-42e8-89da-3f58ece65a8d.jpeg" class="rounded" style="width: 49px;"> </td>
										<td>Huile d'argan</td>
										<td>500 MAD</td>
										<td> <span class="badge bg-success shadow">400 available</span></td>
										<td> <i class="bi bi-pencil-fill text-success" ></i> </td>
									</tr>
									
									<tr class="text-center">
										<td > <img src="images/card3.jpg" class="rounded" style="width: 49px;"> </td>
										<td>Huile d'argan</td>
										<td>500 MAD</td>
										<td><span class="badge bg-danger shadow">Out of stock</span> </td>
										<td> <i class="bi bi-pencil-fill text-success"></i> </td>
									</tr>
									
									
									<tr class="text-center">
										<td > <img src="images/card2.jpg" class="rounded" style="width: 49px;"> </td>
										<td>Huile d'argan</td>
										<td>500 MAD</td>
										<td> <span class="badge bg-warning shadow">40 available</span> </td>
										<td> <i class="bi bi-pencil-fill text-success"></i> </td>
									</tr>
									
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	    	
	    	
	    	<!-- end col-->	
			
			<div class="col-12 ">
				<div class="d-block d-sm-flex gap-2 mb-3">
					<div class="card-body shadow-sm bg-white p-2 w-50">
						
						<!--  header of card-->
						<div class="d-flex px-4 pt-4 gap-3">
							<span  class="fw-semibold fs-5">Orders by region</span>
							
							<div class="dropdown ms-auto" id="dropdown-sales">
								<div class="bio-select position-relative">
									<button class="bio-btn border rounded-1    bio-dropdown-toggle" id="dropdown-region-action" data-bio-toggle="dropdown">
										<span>Last year</span> <i class="bi bi-chevron-down"></i>
									</button>
									<ul class="bio-dropdown-menu dropdown-menu end-0" id="dropdown-sales-menu">
										<li  class="dropdown-item bio-opt " onclick="filter(event, 'orders-region')" value="1"> This year</li>
										<li  class="dropdown-item bio-opt"  onclick="filter(event, 'orders-region')" value="0"> Last year</li>
										
									</ul>
								</div>
							</div>
							
							<!-- graph download btn-->
							<i class="bi bi-download bio-btn download-graph-btn"></i>
							
						</div>
					
						<!-- graoh with google -->
						<div class="graph" id="graph-geo"></div>
					</div>
					
					<!--  end graph-->
					<div class="row g-0 d-none  row-cols-2 mb-3 w-50 gy-1"> 
						
							<div class="card-body shadow-sm bg-white p-2 ">
								<canvas width="" id="graph-"></canvas>
							</div>
							
							<div class="card-body shadow-sm bg-white p-2 ">
								<canvas width="" id="graph-"></canvas>
							</div>
							
							<div class="card-body shadow-sm bg-white p-2">
								<canvas width="" id="graph-"></canvas>
							</div>
							
							<div class="card-body shadow-sm bg-white p-2">
								<canvas width="" id="graph-"></canvas>
							</div>
					</div>
					
					
					<!--  end graph-->
				</div>
			</div>
			
			
			<!-- encdcol-->	
			
			<div class="col-12 ">
				<div class="d-block d-sm-flex gap-2 mb-3">
					<div class="card-body shadow-sm bg-white p-2 ">
						<!--  header of card-->
						<div class="d-flex px-4 pt-4 gap-3">
							<span  class="fw-semibold fs-5">Sales</span>
							
							<div class="dropdown ms-auto" id="dropdown-sales">
								<div class="bio-select position-relative">
									<button class="bio-btn border rounded-1    bio-dropdown-toggle" id="dropdown-sales-action" data-bio-toggle="dropdown">
										<span>Last year</span> <i class="bi bi-chevron-down"></i>
									</button>
									<ul class="bio-dropdown-menu dropdown-menu end-0" id="dropdown-sales-menu">
										<li  class="dropdown-item bio-opt " onclick="filter(event, 'sales')" value="1"> This year</li>
										<li  class="dropdown-item bio-opt"  onclick="filter(event, 'sales')" value="0"> Last year</li>
										
									</ul>
								</div>
							</div>
							
							<!-- graph download btn-->
							<i class="bi bi-download bio-btn download-graph-btn"></i>
							
						</div>
						
						<!-- end header of card-->
							
						<div id="sales" class="graph">
							<canvas width="" id="graph-sales"></canvas>
						</div>
						
					</div>
					
					
					
					<!--  end graph-->
				</div>
			</div>
			
			
			
			
			
	    	
	    </section>
		 
		 
		 
		
		 
	     
	     <!-- the template for creat product best seller-->
	     
	     <template id="best-seller-template">
			<tr class="text-center">
				<td> <img src="images/card3.jpg" class="rounded" style="width: 49px;" id="best-seller-img"> </td>
				<td id="best-seller-name">Huile d'argan</td>
				<td id="best-selle-earned">500 MAD</td>
				<td id="best-selle-stock"> </td>
				<td> <a class="bio-btn best-seller-action"> <i class="bi bi-pencil-fill text-success"></i></a> </td>
			</tr>
	     </template>
		 
     <script type="module" src="webjars/chart.js/4.3.0/dist/chart.umd.js" ></script>
      <script type="text/javascript" src="js/dashboard/dashboardviews.js" ></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     
    </div>
    
</body>
</html>