@charset "UTF-8";



.no-elements{
	
	color: violet;
	background-image: url("../../images/_1a57c853-5328-4ac6-b2aa-887337ffa95f.jpeg");
}


:root{
	
	--blue :  #1976D2;
	--brown: rgb(249, 230, 221);
	--icon-size: 21px;
	--font-size-text: 16px;
	--stat-icon-size: 48px;
}


.card-city, .card-country:hover{
	
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.search-btn:hover{
	
	cursor: pointer;
}

body{
	
	font-size: var(--font-size-text);
}

.bio-bg-brown{
	
	background-color: var(--brown);
	color: black;
}


.dropdown-item{
	
	display: flex;
	gap: 6px;
	border-radius: 4px;
	margin-bottom: 6px;
}

.bio-dropdown-toggle{
	
	display: flex;
	gap: 4px;
	align-items: center;
}


.breadcrumb{
	display: flex;
	align-items: center;
}


.bio-dropdown-menu{
	
	padding: 6px 6px 0px 6px;
	
}

.bio-bg-blue{
	
	background-color: var(--blue);
	color: rgb(255, 255, 255);
}



.bi.icon {
	
	display: flex;
	align-items: center;
	font-size: var(--icon-size);
}

.bi{
	display: flex;
	align-items: center;
	
}

.stat-icon{
	
	font-size: var(--stat-icon-size);
}

a {
	
	text-decoration: none;
}


/*  button and animation */
.bio-btn-blue{
	color: white;
	background-color: var(--blue);
}


.bio-btn-blue:hover{
	
	background-color: rgb(22, 102, 182);
	color: white;
}


.bio-btn-brown{
	color: black;
	background-color: var(--brown);
}




.bio-btn-secondary{
	color: white;
	background-color: grey;
}

.bio-btn-secondary:hover{
	background-color: rgb(108, 108, 108);
}


.bio-btn-brown:hover{
	background-color: rgb(243, 213, 197);
	
}


.bio-btn{
	
	width: fit-content;
	border: none;
	text-decoration: none;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: transform 50ms;
	cursor: pointer;
}



.bio-btn:active{
	transform: scale(0.97);
}


@keyframes bio-btn-anim-color{
	
	
}

/*  colors and background */

.bio-bl-red{
	
	color: red;
	background-color: rgba(255, 0, 0, 0.18);
}

.bio-bl-green{
	color: rgb(0, 128, 0);
	background-color: rgba(0, 128, 0, 0.18);
}


.bio-bl-blue{
	
	color: rgb(25, 118, 210);
	background-color: rgba(25, 118, 210, 0.18);
}



.bio-bl-brown{
	
	color: rgb(220, 109, 56);
	background-color: rgba(249, 230, 221, 0.58);
}


/*   puce blur*/

.bio-bl-puce{
	padding-left: 5px;
	padding-right: 5px;
	font-size: small; 
	width: fit-content;
	border-radius: 1px;
}


.bio-sidebar{
		
	width: 255px;
	
}



#wrapper{
	
	height: 100vh;
	
}




#content{
	
	height: 100%;
	overflow-y: auto;
	overflow-x:hidden;
	
}

#content-wrapper{
	
	
}



.bin-footer{
	
	
	
}


.bio-toolbar{
	
	position: sticky;
	top: 0px;
	z-index: 6;
 background-color: white;
	
	
}


.bio-li-circle  {
	
	color:red;
	list-style: circle outside;
	
	
}

.bio-li-disc  {
	
	color:red;
	
	list-style-type:disc;
	
}

.bio-list-hover >li>a:hover{
	
	
	background-color: rgba(60,60,60,0.6);
	
}


.bio-sidebar-title{
	
	padding: 6px;
}




tr{
	
	height: 4rem;
}


.bio-active{
	
	color: white!;
	background-color:var(--blue)!;
}


#bio-btn-dashboard{
	
	text-decoration: none;
	background-color: var(--brown);
	color: black;
	
}

.bio-table-head{
	
	display: flex;
	gap: 10px;
	margin: 3px 0px 3px 0px;
	align-items: center;
}

.nav-link{
	
	
}






/*  bar de recherche pour les tablaux**/


.search{
	
	border: 0;
	width: 100%;
	background-color: rgb(255, 255, 255);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-left: 6px;
}

.search-parent{
	
	
	border-width: 2px;
	
	border: 1px solid #ced4da;
	border-radius: 4px;
	gap: 8px;
	/*background-color: rgb(233, 233, 233);*/
	padding-left: 10px;
	min-height: 38px;
	/*box-shadow: 1px 1px 6px 5px var(--brown);*/
	
	
	
}

.form-select{
	
	width: fit-content;
}

.search:focus{

	border: none;
	outline: none;
}


.focusable{
	
	outline-color: #c2dbfe;
}


/* css scrollbar********/

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}