<!DOCTYPE html>
<html lang="en" data-bs-theme="light"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="index">
<head>
<meta charset="UTF-8">
<title>Add Payment</title>
</head>
<body>
    <div	class="container " style="width: 95%;"	layout:fragment="content">
    
    
	    <!-- start content -->
	   		 <div class=" container g-0 mb-3 d-flex flex-column gap-2 bg-white shadow-sm pt-2 pb-3" >
		    	<!-- section controls -->
		    		
		    	
		    </div>
	   
    </div>
    
</body>
</html>