<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Admin index</title>
<link type="text/css" rel="stylesheet" href="webjars/bootstrap/5.2.3/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="webjars/bootstrap-icons/1.10.2/font/bootstrap-icons.css">
<link th:href="@{css/style.css}" rel="stylesheet"  type="text/css">
</head>
<body class="page-top">
    
    <!-- page wrapper start -->
	
	<div id="wrapper" class="d-flex">
	
	<!-- sidebar start -->

		<nav
			class="justify-content-start bio-sidebar d-flex flex-column p-3 bg-dark flex-shrink-0">

			<!-- site brand   -------- -->
			<a href="/"
				class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
				
				<span class="navbar-brand fs-4" th:inline="text"><img alt="" src="images/logo2.png" style="width: 100%"></span>
				
			</a>
			<hr style="height: 2px; color: white">


			<!--(ul) liens nav sidebar -->

			<ul
				class="d-block nav flex-grow-1 nav-pills bio-list-hover overflow-auto px-1 py-1 gap-3">

				<li><a href="#" class="nav-link text-bg-warning rounded-1 d-flex gap-2">
						<i class="bi bi-speedometer2"></i> Dashboard
				</a></li>

				<!-- divider pages-->
				<li class="text-muted bio-sidebar-title">PAGES</li>

				<li><a th:href="@{/orders}" class="nav-link text-white d-flex gap-2"> <i
						class="bi bi-folder-fill"></i> Orders
				</a></li>
				
				<!-- collapse product nav item----------------- -->
				
				<li><a href="#collapseproduct" data-bs-toggle="collapse" class="nav-link text-white d-flex gap-2"> <i
						class="bi bi-basket3-fill"></i> Products <span class="badge  text-bg-warning rounded-pill ms-auto">14</span>
				</a></li>
				
				<!-- menu Products -->


							<li class="collapse border my-2  rounded" id="collapseproduct">
			
								<ul class="d-block bio-list-hover p-1">
									<li><a th:href="@{/products}" class="nav-link text-white d-flex ">
											Products list </a></li>
											
									<li><a href="#" class="nav-link text-white d-flex ">
											Product range </a></li>
											
									<li><a href="/categories" class="nav-link text-white d-flex ">
											Categories</a></li>
								</ul>
			
			
							</li>


				<!-- end collapse products -->
				
				
				
				<!-- collapse customers -->
				
				<li><a data-bs-toggle="collapse" href="#collapsecustomers" class="nav-link text-white d-flex gap-2"> <i
						class="bi bi-people-fill"></i> Customers
				</a></li>
				
				<!-- menu customers -->


							<li class="collapse border my-2  rounded" id="collapsecustomers">
			
								<ul class="d-block bio-list-hover p-1">
									<li><a href="/customers" class="nav-link text-white d-flex ">
											Customers list </a></li>
											
									<li><a href="#" class="nav-link text-white d-flex ">
											New customer </a></li>
								</ul>
			
			
							</li>
				
				
				
				<!--end collapse customers -->
				
				
				
				<!-- collapse blog nav item----------------- -->
				
				<li>
					<a href="#collapseblog"	data-bs-toggle="collapse" class="nav-link text-white d-flex gap-2">
						<i class="bi bi-chat-left-text-fill"></i>Blog
					</a>
					
				</li>
				<!-- menu blog -->


							<li class="collapse my-2 border rounded" id="collapseblog">
			
								<ul class="d-block bio-list-hover p-1 gap-3">
									<li><a href="#" class="nav-link text-white d-flex gap-2">
											Edit </a></li>
											
									<li><a href="#" class="nav-link text-white d-flex gap-2">
											Posts </a></li>
								</ul>
			
			
							</li>
			

				<!-- end collapse blog -->
				
				
				<li><a th:href="@{/users}" class="nav-link text-white d-flex gap-2">
				<i class="bi bi-person-badge-fill"></i></i></i>Users
				</a></li>
				
				
				<!-- collapse Professional nav item----------------- -->
				
				<li><a href="#collapseprofessional" data-bs-toggle="collapse" class="nav-link text-white d-flex gap-2">
				<i class="bi bi-person-vcard-fill"></i>Professional
				</a></li>
				
				<!-- menu Professional -->


							<li class="collapse border my-2  rounded" id="collapseprofessional">
			
								<ul class="d-block bio-list-hover p-1">
									<li><a href="#" class="nav-link text-white d-flex ">
											Distributor </a></li>
									
											
									<li><a href="#" class="nav-link text-white d-flex ">
											Franchise </a></li>
								</ul>
			
			
							</li>
				
				
				
				<!--end collapse Professional -->
				
				
				<!-- divider APPS-->
				<li class="text-muted bio-sidebar-title">APPS</li>
				
				<li><a href="#" class="nav-link text-white d-flex gap-2">
				 <i class="bi bi-film"></i>Medias
				</a></li>
				
				
				<!-- start collapse service sals -->
				<li><a href="#collapsesals" data-bs-toggle="collapse" class="nav-link text-white d-flex gap-2">
				 <i class="bi bi-receipt-cutoff"></i>Sals service
				</a></li>
				<!-- menu sals sevice -->


							<li class="collapse border my-2  rounded" id="collapsesals">
			
								<ul class="d-block bio-list-hover p-1">
									
									
									<li><a href="#" class="nav-link text-white d-flex ">
											Sales </a></li>
											
									<li><a href="#" class="nav-link text-white d-flex ">
											Payment </a></li>
								</ul>
			
			
							</li>
				
				
				
				<!--end collapse sals service -->
				
				
				
				<!-- shop nav-item -->
				<li><a href="#" class="nav-link text-white d-flex gap-2">
				 <i class="bi bi-bag-fill"></i>Shop
				</a></li>
				
				
				<!-- invoices  nav-item -->
				<li><a th:href="@{invoices}" class="nav-link text-white d-flex gap-2">
				 <i class="bi bi-receipt"></i>Invoice builder
				</a></li>
				
				
				
				<li><a href="#" class="nav-link text-white d-flex gap-2">
				 <i class="bi bi-envelope-at-fill"></i>Mailling
				</a></li>
				
				<!-- divider Options-->
				<li  class=" text-muted bio-sidebar-title">OPTIONS</li>
				
				<!-- setting nav-item -->
				<li><a href="#" class="nav-link text-white d-flex gap-2">
				 <i class="bi bi-gear-wide-connected"></i>Setting
				</a></li>
				
				

			</ul>
			<!--(ul)end liens nav sidebar -->

		</nav>

		<!-- end of the sidebar -->
        
        
        
        <!-- content wrapper start -->
        
        <div id="content-wrapper" class="flex-grow-1 d-flex flex-column">

            <!-- Main Content -->
            <div id="content" class="" style="background-color: #F7F7F7">

                <!-- Topbar -->
                <nav class="navbar gap-2 navbar-expand bio-toolbar navbar-light p-2 bg-white topbar mb-4 shadow ">
						
						<a href="#" class="btn border-0">
							<i class="bi bi-list " style="font-size: 1.5rem;" ></i>
						</a>
						
                       <a class="btn  border-0 position-relative rounded-circle" >
								<i class="bi bi-envelope-fill "><span class="badge text-bg-danger rounded-pill position-absolute top-0  end-0 bottom-50" >5</span></i>
						</a>
						
						<div class="bar-control-end ms-auto">
							<a class="btn  border-0 position-relative rounded-circle" >
								<i class="bi bi-bell-fill "><span class="badge text-bg-primary rounded-pill position-absolute top-0  end-0 bottom-50" >5</span></i>
							</a>
							
							<a class="btn  border-0 position-relative rounded-circle" >
								<i class="bi bi-cart4 "><span class="badge text-bg-primary rounded-pill position-absolute top-0 end-0 bottom-50">5</span></i>
							</a>
						</div>
						
						<span class="vr align-self-center">
						
						</span>
                        <!-- Nav Item - User Information -->
                        <div class="d-flex  align-items-center gap-2">
                        	<span class="">User name, or email</span>
                        	<div class="border border-warning d-flex justify-content-center align-items-center border-1 rounded-circle" style="width: 50px; height: 50px;"><img class=" rounded-circle" alt="" src="assets/media/Capture d’écran (192).png" style="width: 40px; height: 40px"></div>
                        </div>
                          

                </nav>
                
                <!-- End of Topbar -->
              
                
                

             <!-- start content template fluid -->
             
             	<section  layout:fragment="content">
            
             	</section>
             
             <!-- for alert toast -->
	             <div class="position-fixed w-100  d-flex  align-items-end " style="bottom: 6%;">
	             	 <!-- toast container -->
	             	 <div class="toast-container  p-2">
							
							
						
						</div>
	             </div>
            
             
            
             	
            
             <!-- end content template fluid -->
           
            </div>
            <!-- End of Main Content -->



            <!-- Footer -->
            <footer class="py-3 bin-footer bg-warning">
                <div class="container my-auto">
                    <div class="copyright text-center text-black my-auto">
                        <span>Copyright © Your Website 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- end of content wrapper -->
        
	</div>
	<!-- end of page wrapper -->
	
	<template id="toast-template">
		<div class="toast " role="alert" aria-live="assertive"
			aria-atomic="true">
			<div class="toast-header">
				<img src="images/logo.png" class="rounded me-2 " style="width: 50px; height: auto" alt="logo"> 
				<strong
					class="me-auto">Bionoor
				</strong> <small
					class="text-body-secondary">just now</small>
				<button type="button" class="btn-close" data-bs-dismiss="toast"
					aria-label="Close"></button>
			</div>
			<div class="toast-body"> <span class="toast-message"></span> </div>
		</div>
	</template>
	

	<!-- script bootstrap -->
<script type="text/javascript"  src="webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="webjars/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript"  src="js/index.js"></script>
</body>
</html>