<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
	  
    
    <style>
		
		#link{
			
			width: 100%;
			text-decoration: none;
			background-color: rgb(25,118,210);
			border-radius: 5px;
			padding: 8px;
			color: white;
		}
		
		div{
			
			width: 100%;
		}
		
	</style>
	
	<div th:inline="text"> Hi [[${customer.lastName}]], you should confirm your email address by this link. </div>
	
	<div>
		<a id="link" th:href="@{api/customers/emailConfirmationCallback(id=${customer.id})}" target="_blank">Confirm</a>
	</div>
    
    <p style="background-color: black; width: fit-content; text-align: center;"><img src="cid:attachment.png" /></p>
  </body>
</html>