<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
	  
    <p th:text="#{greetings(${recipientName})}"></p>
    <p th:text="${customer.id}"></p>
    <p th:text="#{regards}"></p>
    <p>
      <em th:text="#{signature(${senderName})}"></em> <br />
    </p>
    <p style="background-color: black; width: fit-content; text-align: center;"><img src="cid:attachment.png" /></p>
  </body>
</html>