<!DOCTYPE html>
<html lang="en" data-bs-theme="light"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="index">
<head>
<meta charset="UTF-8">
<title>Posts List</title>
</head>
<body>
    <div style="width: 95%;"	class="container d-flex flex-column gap-4"	layout:fragment="content">
    
    <!-- start hearder commun with all pages -->
    	<header class="d-flex p-1 gap-2 align-items-center" >
    		
    		
    		<!-- breadcrumb -->
			
			
			
			
			<!-- end breadcrumb -->
    		
    		<a class="bio-btn shadow ms-auto  rounded-1 shadow-sm d-flex align-items-center gap-1 bio-btn-blue" >
						<i class="bi bi-plus-lg"></i> New post
			</a>
    	</header>
    	
    <!-- end hearder commun with all pages -->
    
    
    <!-- start content -->
    
    	
    
	    <section class="shadow-sm container mb-3 bg-white p-1 pb-5" >
	    	
	    	
	    	
	    </section>
    </div>
</body>
</html>